<%= div_for task do %>
  <div class="task-links">
    <%= link_to "Edit", edit_task_path(task) %>
    <%= link_to "Done", task, method: :delete, class: "delete-task", data: { task: "#{task.id}" } %>
  </div>

  <div class="task-content">
    <h2><%= task.title %></h2>
  </div>
<% end %>
