<div class="task">
  <div class="task-links">
    <%= link_to "Edit", edit_task_path(task) %>
    <%= link_to "Done", task, method: :delete, data: { confirm: "Mark as complete?" } %>
  </div>

  <div class="task-content">
    <h2><%= task.title %></h2>
  </div>
</div>
